/.idea
src/__pycache__/
*.pyc
test/yolo-coco/yolov3.weights
test/yolo-coco/yolov3.cfg
test2/yolo-coco/yolov3.cfg
test2/yolo-coco/yolov3.weights
resources/yolo/yolov3-320.cfg
resources/yolo/yolov3-320.weights
